.header {
  position: fixed;
  display: flex;
  width: 94.3%;
  max-height: 77px;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
  z-index: 100000;

  &__logo {
    display: flex;
  }

  &__navigation {
    display: flex;
    width: 100%;
    max-width: 397px;
    justify-content: space-between;
    color: var(--text);
    li {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      list-style-type: none;
      a {
        color: var(--text);
        text-decoration: none;
        font-size: 16px;
      }
      span {
        opacity: 0;
        width: 1px;
        height: 1px;
        background-color: #fff;
        margin-top: 4px;
        transition: .4s ease;
      }
      &:hover {
        span {
          opacity: 1;
          height: 1px;
          width: 100%;
          transition: .4s ease;
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .header {
    &__navigation {
      display: none;
    }
  }
}