.header {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1810px;
  max-height: 77px;
  justify-content: space-between;
  align-items: center;
  padding: 13px 55px 0 55px;

  &__logo {
    display: flex;
  }

  &__navigation {
    display: flex;
    width: 100%;
    max-width: 397px;
    justify-content: space-between;
    color: var(--text);
    li {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      list-style-type: none;
      a {
        color: var(--text);
        text-decoration: none;
      }
      span {
        opacity: 0;
        width: 1px;
        height: 1px;
        background-color: #fff;
        margin-top: 4px;
        transition: .4s ease;
      }
      &:hover {
        span {
          opacity: 1;
          height: 1px;
          width: 100%;
          transition: .4s ease;
        }
      }
    }
  }
}